@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
/*	==========================================================================
	Clearfix                                                    
	==========================================================================	*/
.chapters__row {
  *zoom: 1; }
  .chapters__row:before, .chapters__row:after {
    content: " ";
    display: table; }
  .chapters__row:after {
    clear: both; }

/*	==========================================================================
	Index:         
	1. BASE STYLES   
	    - Variables
	    - Functions
	    - Mixins
	    - Base
	    - Typography
	2. MAIN NAVIGATION
		- Custom Menu Primary
		- Mobile Menu
	3. COMPONENTS
		- Sections
	    - Forms
	    - Buttons
	4. MISCELLANOUS
	5. MOBILE MEDIA QUERIES
	6. ANIMATIONS
	==========================================================================	*/
/*	==========================================================================


	1. BASE STYLES                                        


	==========================================================================	*/
/*  ==========================================================================
    Base                                                    
    ==========================================================================  */
/** 
 * Box Sizing
 * 
 * Applies a natural box layout model to all elements so that width and padding 
 * are essentially combined, making responsive styles easier to manage.
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  color: #6e6e6f;
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 2.1; }

/**
 * Page Center
 *
 * Apply .container to full-width modules.
 */
.container, .container--fluid {
  float: none;
  margin: 0 auto;
  padding: 175px 0; }

.container {
  max-width: 36.45833%; }

.container--fluid {
  max-width: 100%;
  padding: 0; }

.text-center {
  text-align: center; }

a {
  color: #AF8812; }
  a:hover, a:focus {
    color: #ddac17; }

hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none; }

/* Highlighted Text */
::-moz-selection {
  color: #fff;
  background: #6e6e6f;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #6e6e6f;
  text-shadow: none; }

/*	==========================================================================
	Typography
	==========================================================================	*/
/* Basic text */
p {
  font-size: 0.8125rem; }

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2em; }

/* Lists */
ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

/* Quotes */
/**
 * Main Styling
 *
 * Add main styling below.
 */
.site {
  position: relative;
  z-index: 0;
  height: 100vh; }

/*	==========================================================================


	2. MAIN NAV                                        


	==========================================================================	*/
	/**
     * Desktop Menu
     *
     * Add main menu styling below.
     */
.menu--left .menu__bar, .menu--right .menu__bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 54px;
  background: #292B2B; }

.menu--left .menu__bar--top, .menu--right .menu__bar--top {
  top: 0;
  color: #fff; }

.menu--left .menu__bar--bottom, .menu--right .menu__bar--bottom {
  bottom: 0; }

.menu--left .menu__bar--top .fa.fa-times, .menu--right .menu__bar--top .fa.fa-times {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.77941rem;
  cursor: pointer; }

.menu {
  display: block;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 22.39583%;
  height: 100vh;
  background: #0f1010; }
  .menu--left {
    left: -22.39583%;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    transition: left 0.25s ease; }
    .menu--left.open {
      left: 0;
      -webkit-animation: slideFromLeft 0.25s ease;
      -moz-animation: slideFromLeft 0.25s ease;
      -o-animation: slideFromLeft 0.25s ease;
      -ms-animation: slideFromLeft 0.25s ease;
      animation: slideFromLeft 0.25s ease; }
    .menu--left .menu__bar--top .fa.fa-times {
      right: 0;
      margin: 0 3.48837% 0 0; }
  .menu--right {
    right: -22.39583%;
    -webkit-transition: right 0.25s ease;
    -moz-transition: right 0.25s ease;
    -o-transition: right 0.25s ease;
    -ms-transition: right 0.25s ease;
    transition: right 0.25s ease; }
    .menu--right.open {
      right: 0;
      -webkit-animation: slideFromRight 0.25s ease;
      -moz-animation: slideFromRight 0.25s ease;
      -o-animation: slideFromRight 0.25s ease;
      -ms-animation: slideFromRight 0.25s ease;
      animation: slideFromRight 0.25s ease; }
    .menu--right .menu__bar--top .fa.fa-times {
      left: 0;
      margin: 0 0 0 3.48837%; }

/*	==========================================================================


	3. COMPONENTS                                       


	==========================================================================	*/
.hero__inner .header__menu--left, .hero__inner .header__menu--right {
  display: block;
  position: fixed;
  top: 30px;
  z-index: 1;
  width: 44px;
  height: 44px;
  background: #fff;
  color: #3F3F3F;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }

.hero__inner .header__maine-menu--left, .hero__inner .header__maine-menu--right {
  position: absolute;
  top: 46px;
  right: 56px;
  width: 31px;
  cursor: pointer; }

.hero__inner .header__menu--left .fa.fa-bars, .hero__inner .header__menu--right .fa.fa-bars {
  font-size: 28px;
  line-height: 44px; }

.hero {
  height: 100vh;
  padding: 26px;
  background: url(../img/bg-home-splash.jpg) top left no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .hero__inner {
    position: relative;
    height: 100%;
    border: 4px solid #655611; }
    .hero__inner .header__menu--left {
      left: 30px; }
    .hero__inner .header__menu--right {
      right: 30px; }
    .hero__inner .header__logo {
      position: absolute;
      top: 56px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 122px; }
    .hero__inner .header__maine-menu--left {
      right: 56px; }
    .hero__inner .header__maine-menu--right {
      left: 56px; }
    .hero__inner h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 33.08351%;
      min-width: 225px;
      margin: 0 auto;
      background: url(../img/hdr-thoreau.png) center center no-repeat;
      background-size: 100% auto;
      text-indent: -9999px;
      line-height: 250px; }
      .hero__inner h1::before, .hero__inner h1::after {
        content: '';
        display: block;
        position: absolute; }
      .hero__inner h1::before {
        top: 30px;
        left: 15px;
        height: 31px;
        width: 53px;
        background: url(../img/hdr-thoreau-the.png) center center no-repeat; }
      .hero__inner h1::after {
        bottom: 18px;
        right: -16px;
        height: 40px;
        width: 89px;
        background: url(../img/hdr-thoreau-trail.png) center center no-repeat; }

.chapters__row .chapter {
  position: relative;
  display: inline-block;
  float: left;
  width: calc(100% / 3);
  height: 90vh;
  overflow: hidden; }

.chapters {
  background: #000; }
  .chapters__row .chapter .chapter__image {
    width: 100%;
    height: 100%;
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .chapters__row .chapter:nth-child(1) .chapter__image {
    background-image: url(../img/chapters/bg-ch1.jpg); }
  .chapters__row .chapter:nth-child(1) .chapter__inner {
    box-shadow: none; }
  .chapters__row .chapter:nth-child(2) .chapter__image {
    background-image: url(../img/chapters/bg-ch2.jpg); }
  .chapters__row .chapter:nth-child(3) .chapter__image {
    background-image: url(../img/chapters/bg-ch3.jpg); }
  .chapters__row .chapter:nth-child(4) .chapter__image {
    background-image: url(../img/chapters/bg-ch4.jpg); }
  .chapters__row .chapter:nth-child(5) .chapter__image {
    background-image: url(../img/chapters/bg-ch5.jpg); }
  .chapters__row .chapter:nth-child(6) .chapter__image {
    background-image: url(../img/chapters/bg-ch6.jpg); }
  .chapters__row .chapter:hover .chapter__image {
    opacity: 0.6;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .chapters__row .chapter__inner {
    position: absolute;
    top: 17px;
    left: 17px;
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6); }
    .chapters__row .chapter__inner .inner__content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .chapters__row .chapter__inner .inner__content img {
        display: block;
        text-align: center; }
        .chapters__row .chapter__inner .inner__content img.maine-thing-logo {
          width: 100%;
          max-width: 147px;
          margin: 0 auto 24px; }
        .chapters__row .chapter__inner .inner__content img.issue-number {
          width: 100%;
          max-width: 210px;
          margin: 0 auto; }
      .chapters__row .chapter__inner .inner__content p {
        position: relative;
        width: 100%;
        height: 100px;
        background: url(../img/chapters/hdr-guided-adventure.png) center center no-repeat;
        background-size: cover;
        text-indent: -9999px; }

/*	==========================================================================


	6. ANIMATIONS                                        


	==========================================================================	*/
@-webkit-keyframes slideFromLeft {
  0% {
    left: -430px; }
  100% {
    left: 0px; } }
@keyframes slideFromLeft {
  0% {
    left: -430px; }
  100% {
    left: 0px; } }
@-webkit-keyframes slideFromRight {
  0% {
    right: -430px; }
  100% {
    right: 0px; } }
@keyframes slideFromRight {
  0% {
    right: -430px; }
  100% {
    right: 0px; } }

/*# sourceMappingURL=style.css.map */
