@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
/*	==========================================================================
	Clearfix                                                    
	==========================================================================	*/
/*	==========================================================================
	Index:         
	1. BASE STYLES   
	    - Variables
	    - Functions
	    - Mixins
	    - Base
	    - Typography
	2. MAIN NAVIGATION
		- Custom Menu Primary
		- Mobile Menu
	3. COMPONENTS
		- Sections
	    - Forms
	    - Buttons
	4. MISCELLANOUS
	5. MOBILE MEDIA QUERIES
	6. ANIMATIONS
	==========================================================================	*/
/*	==========================================================================


	1. BASE STYLES                                        


	==========================================================================	*/
/*  ==========================================================================
    Base                                                    
    ==========================================================================  */
/** 
 * Box Sizing
 * 
 * Applies a natural box layout model to all elements so that width and padding 
 * are essentially combined, making responsive styles easier to manage.
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  color: #6e6e6f;
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 2.1; }

/**
 * Page Center
 *
 * Apply .container to full-width modules.
 */
.container, .container--fluid {
  float: none;
  margin: 0 auto;
  padding: 175px 0; }

.container {
  max-width: 36.45833%; }

.container--fluid {
  max-width: 100%;
  padding: 0; }

.text-center {
  text-align: center; }

a {
  color: #AF8812; }
  a:hover, a:focus {
    color: #ddac17; }

hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none; }

/* Highlighted Text */
::-moz-selection {
  color: #fff;
  background: #6e6e6f;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #6e6e6f;
  text-shadow: none; }

/*	==========================================================================
	Typography
	==========================================================================	*/
/* Basic text */
p {
  font-size: 0.8125rem; }

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2em; }

/* Lists */
ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

/* Quotes */
/**
 * Main Styling
 *
 * Add main styling below.
 */
.site {
  position: relative;
  z-index: 0;
  height: 100vh; }

/*	==========================================================================


	2. MAIN NAV                                        


	==========================================================================	*/
	/**
     * Desktop Menu
     *
     * Add main menu styling below.
     */
/*	==========================================================================


	3. COMPONENTS                                       


	==========================================================================	*/
/*	==========================================================================


	6. ANIMATIONS                                        


	==========================================================================	*/

/*# sourceMappingURL=style.css.map */
