	@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
	// Include any @imports above

	@import "clearfix";

/*	==========================================================================
	Index:         
	1. BASE STYLES   
	    - Variables
	    - Functions
	    - Mixins
	    - Base
	    - Typography
	2. MAIN NAVIGATION
		- Custom Menu Primary
		- Mobile Menu
	3. COMPONENTS
		- Sections
	    - Forms
	    - Buttons
	4. MISCELLANOUS
	5. MOBILE MEDIA QUERIES
	6. ANIMATIONS
	==========================================================================	*/








/*	==========================================================================


	1. BASE STYLES                                        


	==========================================================================	*/
	@import "variables";	// Import variables partial
	@import "functions";	// Import functions partial
	@import "mixins";		// Import mixins partial
	@import "base";			// Import base partial
	@import "typography";	// Import typography partial

    /**
     * Main Styling
     *
     * Add main styling below.
     */

    .site {
      position: relative;
      z-index: 0;
      height: 100vh;
    }

/*	==========================================================================


	2. MAIN NAV                                        


	==========================================================================	*/

	/**
     * Desktop Menu
     *
     * Add main menu styling below.
     */

	

/*	==========================================================================


	3. COMPONENTS                                       


	==========================================================================	*/
	


/*	==========================================================================


	6. ANIMATIONS                                        


	==========================================================================	*/
	
	@import "animations";	// Import animations partial


